<p>
 <strong>Team-Name</strong>
 <%= @team.team_name %>
</p>

<p>
 <strong>Team-Head</strong>
 <%= @team.team_head %>
</p>

<p>
  <strong>Team-Summary</strong>
  <%= @team.summary %>
</p>


<%= link_to 'back', teams_path %>
