<p>
<strong>Document-Name:</strong>
<%= @document.dname %>
</p>

<p>
 <strong>Document-Author:</strong>
 <%= @document.dauthor %>
</p>




<p>
 <strong>Document-Description:</strong>
 <%= @document.description %>
</p>



<%= link_to 'Back', clients_path %>


